body {
    text-align: center;
    height: 1600px;
    background-image: url("https://www.rand.org/content/rand/pubs/articles/2020/civilians-and-military-collaborate-to-address-climate-change/jcr:content/par/blogpost.crop.1776x1044.cm.webp/1588984686447.webp");
    background-size: 50%;
}

.infobox {
    border: 2px outset grey;
    padding: 0px;
    background-color: lightgrey;
    display: inline-block;
    width: 400px;
    box-sizing: border-box;
    position: relative;
}

.background {
    z-index: -1;

}

.header {
    font-size: 120%;
}

.topbox {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0px;
    box-sizing: border-box;
    background-color: rgb(228, 228, 228);
}

.bottombox {
    padding-top: 100px;
}

hr {
    padding: 0px;
    margin: 0px;
}